# DataFrame Data Structure

In [6]:
import pandas as pd

purchase_1 = pd.Series({"Name": "Chris",
                       "Item Purchased": "Dog Food",
                       "Cost" : 22.50})

purchase_2 = pd.Series({"Name": "Kevyn",
                       "Item Purchased": "Kitty Litter",
                       "Cost" : 2.50})

purchase_3 = pd.Series({"Name": "Vinod",
                       "Item Purchased": "Bird Seed",
                       "Cost" : 5.0})

df = pd.DataFrame([purchase_1,purchase_2, purchase_3], index = ["Store 1", "Store 1", "Store 2"])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [18]:
df.loc["Store 2"]

Cost                      5
Item Purchased    Bird Seed
Name                  Vinod
Name: Store 2, dtype: object

In [19]:
df.loc["Store 1"]

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn

In [20]:
df["Item Purchased"]

Store 1        Dog Food
Store 1    Kitty Litter
Store 2       Bird Seed
Name: Item Purchased, dtype: object

In [21]:
df.loc["Store 1", "Cost"]

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [22]:
df.T

                 Store 1       Store 1    Store 2
Cost                22.5           2.5          5
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Name               Chris         Kevyn      Vinod

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [24]:
df.loc["Store 1"]["Cost"]

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [25]:
df.loc[:, ["Name", "Cost"]]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

In [26]:
df.drop("Store 1")

         Cost Item Purchased   Name
Store 2   5.0      Bird Seed  Vinod

In [27]:
copy_df = df.copy()
copy_df = copy_df.drop("Store 1")
copy_df

         Cost Item Purchased   Name
Store 2   5.0      Bird Seed  Vinod