# The Series Data Structure

## Creating a Serie

In [1]:
import pandas as pd
# pd.Series?

In [2]:
animals = ["Tiger", "Bear", "Moose"]
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [3]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [4]:
animals = ["Tiger", "Bear", None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [5]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
import numpy as np
np.nan == None

False

In [7]:
np.nan == np.nan

False

In [8]:
np.isnan(np.nan)

True

In [9]:
sports =  {"Archery": "Bhutan", 
       "Golf" : "Scotland", 
       "Sumo" : "Japan"}
s = pd.Series(sports)
s
s.index

Index(['Archery', 'Golf', 'Sumo'], dtype='object')

## Querying a Series

In [10]:
sports =  {"Archery": "Bhutan", 
           "Golf" : "Scotland", 
           "Sumo" : "Japan",
         "Taekwondo" :"South Korea"}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [11]:
s.iloc[3]

'South Korea'

In [12]:
s.loc["Golf"]

'Scotland'

In [14]:
s["Sumo"]

'Japan'

In [15]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

## Calculus

In [17]:
total = 0 
for item in s: 
    total += item
print(total)

324.0

In [18]:
import numpy as np
total = np.sum(s)
print(total)

324.0

In [20]:
s = pd.Series(np.random.randint(0, 1000, 10000))
s.head()

0    596
1    390
2    262
3    479
4    433
dtype: int64

In [21]:
len(s)

10000

In [22]:
%%timeit -n 100
summary = 0
for item in s:
    summary +=item

1 ms ± 17.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [23]:
%%timeit -n 100
summary = np.sum(s)

42.7 µs ± 7.92 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [24]:
s += 2
s.head()

0    598
1    392
2    264
3    481
4    435
dtype: int64

In [26]:
s = pd.Series([1, 2 ,3])
s.loc["Animal"] = "Bears"
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [30]:
original_sports = pd.Series( {"Archery": "Bhutan", 
           "Golf" : "Scotland", 
           "Sumo" : "Japan",
         "Taekwondo" :"South Korea"})

cricket_loving_countries = pd.Series(["Australia", "Barbados", "Pakistan", "England"], index=["Cricket", "Cricket", "Cricket", "Cricket"])

all_countries = original_sports.append(cricket_loving_countries)

In [31]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [32]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [33]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object